body {
  margin: auto;
}

.container {
  margin: 1rem;
}

.purchase-card {
  width: 33rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 1rem;
  margin: auto;
}

.purchase-card > .show-grid {
  padding-bottom: 2rem;
}
.my-row {
  display: flex;
  flex-direction: row;
}

.values {
  position: absolute;
  left: 50%;
}
/*
.total {
  position: absolute;
  left: 45%;
} */
